@import 'reset.css';
*{
    margin: 0;
    padding: 0;
}
.bgr{
    background: #F2F2F2;
}

.container{
    display: block;
    background: #F3C6BD;
    padding-top: 39px;
    padding-left: 130px;
    padding-right: 130px;
}
.menu{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;    
}
.logo_a{
    display: flex;
    flex: 30%;
    flex-wrap: nowrap;
}
.logo_img{
    background: #FFFFFF;
    background-blend-mode: overlay,normal   ;
    box-shadow: 0px 4p 6px rgba(0, 0, 0, 0.05) ;
    border-radius: 14px;
    margin-top: 2px;
    padding-left: 14px;
    padding-top: 10px;
    padding-right: 13px;
    padding-bottom: 9px;
}
.Namelogo{
    margin-top: 6px;
    margin-left: 15px;
    margin-bottom: 5px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 25px;
}
.Startup{
    opacity: 0.5;
}
.right_menu{
    display: flex;
    flex-direction: row;
    flex: 20%;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.ul_menu{
    display: flex;
    flex:50%;
    justify-content: space-between;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-size: 18px;
    text-align: right;
    line-height: 25px;
    margin-top: 7px;
}
.item {
    display: inline-block;
}

.img_select{   
    margin-left: 11px;
    margin-right: 56px;
}    

.item--library:hover .option_library{
    display: flex;
}
.option_library{
    background: #FFFFFF;
    position: absolute;
    display: none;
    flex-flow: row wrap;
    left: 35%;
    right: 21%;
    top: 13%;
    bottom: 46%;
    z-index: 2;
    justify-content: space-between; 
    text-align: left;
    flex-wrap: wrap;     
}
.option1{
    text-align: left;
    flex-wrap: wrap;
}


.bold{
    font-weight: bold;
}
.btn{
    display: flex;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 13px;
    background: #3040C4;
    background-blend-mode:overlay;
    color: #FFFFFF;
    padding-top: 17px;
    padding-left: 28px;
    padding-bottom: 18px;
    padding-right: 28px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05); 
    border: 0px;
    border-radius: 2px;
}

a{
    color: black;
    text-decoration: none;
}

.button_2{
    display: flex;
    flex-wrap: wrap;
}
.btn--LearnMore{
    margin-left: 10px;
    background: #FFFFFF;
    color: #3040C4;
}



.option_library1{
    width: 1000px;
    height: 472px;
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    box-shadow: 0px 11px 55px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    font-family: 'Work Sans',sans-serif;
    font-style: normal;
    font-size: 22px;
    line-height: 26px;
}
.option_library1 a{
    font-weight: bold;
}
.option131{
    margin-right: 28px;
    margin-left: 30px;
    margin-top: 30px;
}
.option241{
    margin-right: 30px;
    margin-top: 30px;
}




.container2{
    display: flex;
    background: #F4F5F7;;
    padding-top: 77px;
    padding-bottom: 76px;
    padding-right: 131px;
    padding-left: 130px;
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    line-height: 32px;
}
.see_more1{
    margin-right: 29px;
}

.banner{
    display: flex;
    flex-direction: column;
    margin-top: 76px;
}
.top_left{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-size: 80px;
    line-height: 78px;
    margin-left: -4px;
    width: 66%;
    z-index: 1;
}
.big_banner{
    display: flex;
    flex-flow: row nowrap;
}
.left_bottom{
    margin-top: 34px;   
}
.left_between{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 58px;
    margin-right: -7px;
    padding-right: 10px;
}
.banner_img1{
    margin-top: -148px;
    margin-right: -105px;
    margin-bottom: 77px;
}

.triangle{
    height: 0;
    width: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 26 solid #FFFFFF ;
}