@import 'reset.css';
*{
    margin: 0;
    padding: 0;
}
.bgr{
    background: #F2F2F2;
}

.container{
    display: block;
    background: #F3C6BD;
    padding-top: 39px;
    padding-left: 130px;
    padding-right: 130px;
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;    
}
.logo_a{
    display: flex;
}
.logo_img{
    background: #FFFFFF;
    background-blend-mode: overlay,normal   ;
    box-shadow: 0px 4p 6px rgba(0, 0, 0, 0.05) ;
    border-radius: 14px;
    margin-top: 2px;
    padding-left: 14px;
    padding-top: 10px;
    padding-right: 13px;
    padding-bottom: 9px;
}
.Namelogo{
    margin-top: 6px;
    margin-left: 15px;
    margin-bottom: 5px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 25px;
}
.right_menu{
    display: flex;
    align-items: flex-start;
}

nav ul li {
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-size: 18px;
    text-align: right;
    line-height: 25px;
    margin-top: 7px;
    margin-bottom: 30px;
    margin-right: 40px;
}

.img_select{   
    margin-left: 11x;
    margin-right: 16px;
}    

.bold{
    font-weight: bold;
}
.btn{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 13px;
    background: #3040C4;
    background-blend-mode:overlay;
    color: #FFFFFF;
    padding-top: 17px;
    padding-left: 28px;
    padding-bottom: 18px;
    padding-right: 28px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05); 
    border: 0px;
    border-radius: 2px;
}

a{
    color: black;
    text-decoration: none;
}
.banner{
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-top: 76px;
}
.left_top{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-size: 80px;
    line-height: 78px;
    width: 754px;
    position: absolute;
    z-index: 1;
}
.left_banner{
    margin-top: 199px;
}

.top_between{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 58px;
}
.button_2{
    display: flex;
    flex-wrap: wrap;
    margin-top: 58px;
}
.btn--LearnMore{
    margin-left: 10px;
    background: #FFFFFF;
    color: #3040C4;
}
.banner_img{
    margin-top: 8px;
    margin-right: -105px;
    margin-bottom: 77px;
}

.option_library{
    width: 1000px;
    height: 472px;
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    box-shadow: 0px 11px 55px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    font-family: 'Work Sans',sans-serif;
    font-style: normal;
    font-size: 22px;
    line-height: 26px;
}
.option_library a{
    font-weight: bold;
}
.option13{
    margin-right: 28px;
    margin-left: 30px;
    margin-top: 30px;
}
.option24{
    margin-right: 30px;
    margin-top: 30px;
}



.container2{
    display: flex;
    background: #F4F5F7;;
    padding-top: 77px;
    padding-bottom: 76px;
    padding-right: 131px;
    padding-left: 130px;
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    line-height: 32px;
}
.see_more1{
    margin-right: 29px;
}




