@import 'reset.css';
*{
    margin: 0;
    padding: 0;
}
.bgr{
    background: #F2F2F2;
}
.body{
    margin: auto;
    color:#2B292D;
}

.text-bold{
    font-weight: bold;
}

a{
    color: #2B292D;;
    text-decoration: none;
}
.container_bgr{
    background: #F3C6BD;
}
.container{
    max-width: 1400px;
    margin: auto;
    display: block;
}
.header{
    padding-top: 39px;
    margin-left: 130px;
    margin-right: 130px;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-between;    
}
.right_menu{
    display: flex;
    flex-direction: row;
    flex: 30%;
    flex-wrap: nowrap;
    align-items: stretch;
}

.menu{
    display: flex;
    flex:50%;
    justify-content: space-between;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-size: 18px;
    text-align: right;
    line-height: 25px;
    padding-top: 7px;
    margin-right: 56px;
}
.item {
    display: inline-block;
}
.item:hover {
    font-weight: bold;
} 

.item--library{
    position: relative;
}
.img_select{   
    margin-top: 2.5px;
    margin-left: 11px;
}   
.triangle{
    position: absolute;
    top:44px;
    right: 32px;
    height: 0;
    width: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.item--library:hover .option_library{
    display: flex;
    font-weight: normal;
}
.item--library:hover .triangle{
    border-bottom: 20px solid #FFFFFF ;
}

.option_library{
    background: #FFFFFF;
    position: absolute;
    display: none;
    flex-direction: row;
    z-index: 2;
    justify-content: space-between; 
    align-content: space-between;
    text-align: left;
    font-size: 22px;
    font-style: normal;
    line-height: 26px;
    top: 63px;
    right: -49px;
    padding-top: 31px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 31px;
    border-radius: 8px;
}
.option:hover .a_option{
    color : #009B4D;
}

.option {
    width: 262px;
    height: 90px;
}

.option_right{
    margin-left: 28px;
}

.option--option_bottom_right{
    margin-top: 30px;
}
.option--option_bottom_left{
    margin-top: 30px;
}

.p_option{
    font-size: 18px;
    margin-top:12px;
}

.banner{
    margin-left: 130px;
    margin-right: 130px;
    display: flex;
    flex-direction: column;
    margin-top: 76px;
}
.banner_top{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 78px;
    margin-left: -4px;
    padding-bottom: 10.3px;
    max-width: 754px ;
    z-index: 1;
    letter-spacing: -0.5px;
}
.banner_big{
    display: flex;
    flex-flow: row nowrap;
}
.banner_between{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 58px;
    margin-right: -7px;
    padding-right: 10px;
}
.banner_left{
    margin-top: 34px;   
}
.banner_img{
    margin-top: -156.5px;
    margin-right: -105px;
    margin-bottom: 77px;
}
.button_2{
    display: flex;
    flex-wrap: wrap;
}
.container2_bgr{
    background: #F4F5F7;
}
.container2{
    max-width: 1400px;
    margin: auto;
    display: flex;
    padding-top: 77px;
    padding-bottom: 76px;
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    line-height: 32px;
}
.see_more_left{
    margin-left: 115px;
    flex:50.09%;   
    padding-right: 15px;
    padding-left: 15px;
}
.see_more_right{
    margin-right: 115px;
    padding-right: 15px;
    padding-left: 15px;
    flex:50%;
}
.seemore_p{
    font-size: 22px;
    margin-top: 6px;
}
.logos{
    max-width: 1400px;
    margin: auto;
    padding-top:30px;
    padding-bottom: 106px; 
}

.Selector{
    max-width: 1400px;
    margin: auto;
    display: flex;
    position: relative;
    justify-content: space-between;
}
.img_ouch{
    position: absolute;
    top: 258px;
}
.features{
    margin-left: 126px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
}
.new_customner{
    margin-top: 42px;
    border-bottom:rgba(43,41,45,0.15) 1px solid;
    height: 38px;
    overflow: hidden;
}
.new_customner:hover {
    height: auto;
    border-bottom: #3142C6 3px solid;
}
.a_new_customer{
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
}
.a_new_customer:hover{
    color: #3142C6;
}

.p_new_customer{
    position: none;
    font-size: 18px;
    line-height: 26px;
    margin-top: 6.5px;
    padding-bottom: 38px;   
}
.link_user_customer{
    display: flex;
    flex-direction: column;
}
.a_customer{
    display: block;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    padding-bottom: 22px;
    border-bottom:rgba(43,41,45,0.15) 1px solid;
    margin-top:20px;
}
.a_customer:hover{
    color: #3142C6;
    border-bottom: #3142C6 3px solid;
}
.a_develop{
    display: block;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;  
    padding-bottom: 22px;
    border-bottom:rgba(43,41,45,0.15) 1px solid;
    margin-top: 20px;
}
.a_develop:hover{
    color:#3142C6;
    border-bottom: #3142C6 3px solid;
}
.selector_banner{
    margin-left: 126px;
    margin-top: 5px;
}
.Quote_bgr{
    background: rgba(252,240,227,0.4);
}

.Quote_information{
    margin-right: 99px;
    margin-top:115px;
    margin-left: 164px;
}
.comment{
    font-family: 'Work Sans',sans-serif;
    font-style: normal;
    background: #FFFFFF;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 28px;
    margin-top: 44px;
    border-bottom:#0185D0 4dpx solid;
}
.comment_text{
    font-size: 20px;
    line-height: 28px;
    color:#2B292D;
}

.featires{
    font-family: 'Work Sans',sans-serif;
    font-style: normal;
    max-width: 1400px;
    margin: auto;
}
.featires_top{
    margin-top:110px;
    display: flex;
    justify-content: space-between;
    margin-left:126px;
    margin-right: 193px;
}
.featires_left{
    margin-right: 193px;
    margin-top:13px;
}
.border_featires{
    margin-top: 87px;
    width: 150px;
    border-top: rgba(0, 0, 0, 0.1) 2px solid;
}
.bottom_featires{
    display: flex;
    margin-left: 115px;
    margin-right: 115px; 
    flex-wrap: wrap;
}
.Categories_bgr{
    background: rgba(0,161,198,0.07);
}
.Categories{
    max-width: 1400px;
    margin: auto;
    margin-top: 110px;
    padding-top: 108px;
}
.top_categories{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.button_2--Categories{
    text-emphasis: center;
    margin-top: 34px;
    margin-bottom: 111px;
}
.menu_categories{
    display: flex;
    justify-content: space-between;
    padding: 0 130px;   
    padding-bottom: 110px;
}
.review_bgr{
    border-bottom:rgba(0,0,0,0.1) 1px solid;
}
.reviews{
    max-width: 1400px;
    margin: auto;
    font-family: 'Work Sans' , sans-serif;
    font-style: normal;    
}

.content_reviews{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.a_reviews{
    color: #3142C6;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}
.p_reviews{
    font-size: 24px;
    line-height: 34px;
    margin-top: 28px;
    margin-bottom: 34px;
    margin-right: 325px;
    margin-left: 325px;
}
.infor_user--reviews{
    line-height: 24px;
}
.page_reviews{
    display: flex;
    justify-content: center;
    padding-top: 38px;
    padding-bottom: 66px;
}
.option_review{
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background: #2B292D;
    opacity: 0.2;
    margin-left: 6.5px;
    margin-right: 6.5px;
}
.a_review:hover .option_review{
    background: #3141C5;
    opacity: 1;
}
.img_reviews{
    position: absolute;
    bottom: 0;
    right: 26px;
}
.Hiring{
    max-width: 1400px;
    margin: auto;
    padding-top: 106px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    margin: auto;
    max-width: 755px;
    text-align: center;
    margin-bottom: 110px;
}
.Hiring_header{
    max-width: 555px;
    margin: auto;   
}
.Hiring_title{
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    margin-bottom: 20px;
}
.Hiring_text{
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 28px;
}

.CTA_bgr{
    background: #F4F5F7;
}
.CTA{
    max-width: 1400px;
    margin: auto;
    padding-top: 73px;
    padding-bottom: 73px;
    display: flex;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
}
.CTA_img{
    margin-left: 224px;
}
.CTA_right{
    margin-left: 122px;
    margin-top: 33px;   
}
.CTA_title{
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.25px;
    margin-bottom: 12px;
}
.CTA_text{
    max-width: 555px;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 26px;
}
.CTA_form{
    display: flex;
    margin-bottom: 10px;
}

.CTA_input{
    padding: 17px 0px 17px 15px;
    width: 385px;
    box-sizing: border-box;
    margin-right: 10px;
}
.CTA_input::placeholder{
    font-family: 'Work Sans',sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 13px;
    color: #2B292D;
}
.CTA_note{
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}
.CTA_a{
    color: #3142C6;
}
.footer_bgr{
    border-bottom: 1px solid rgba(43, 41, 45, 0.1);
}
.footer{
    max-width: 1400px;
    margin: auto;
    display: flex;
    padding-bottom: 47px;
    padding-top:44px;
}
.footer_left{
    width: 360px;
    margin-right: 111px;
    margin-left:130px;
}

.footer_text{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: rgba(43, 41, 45, 0.6);
    margin-top: 26px;
    margin-bottom: 25px;
}
.logo_store{
    margin-right: 6px;
}
.footer_list{
    font-family: 'Work Sans',sans-serif;
    font-style: normal;
    width: 265px;
    margin-left:15px;
    margin-right:15px;
}
.footer__title{
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 18px;
}
.footer__item{
    font-size: 18px;
    line-height: 30px;
    color: rgba(43, 41, 45, 0.6);
    margin-bottom: 9px;
}
.finish{
    max-width: 1400px;
    margin: auto;
    margin-top: 13px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.finish_list{
    margin-left: 130px;
    display: flex;
    font-family: 'Work Sans',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}
.finish_item{
    color: rgba(43, 41, 45, 0.6);
}
.finish_list :nth-child(n):not(:first-child):not(:last-child){
    margin: 0 10px;
}
.finish_logo{
    margin-right: 122px;
}
.finish_img{
    margin: 0px 10px 0px 10px;
}
